name: DevSecOps CI Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  unit_test:
    name: Unit Test (pytest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r dev-requirements.txt

      - name: Run Pytest
        env:
          PYTHONPATH: .
        run: pytest


  sast:
    name: SAST (Bandit)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit
        run: bandit -r app


  sca:
    name: SCA (pip-audit)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pip-audit
        run: pip install pip-audit

      - name: Run pip-audit
        run: |
          pip-audit -r requirements.txt
          pip-audit -r dev-requirements.txt


  secret_scan:
    name: Secret Scan (Gitleaks)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --verbose


  build_and_push:
    name: Build & Push Docker
    runs-on: ubuntu-latest
    needs: [unit_test, sast, sca, secret_scan]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/notes-app-fast:latest .
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/notes-app-fast:${{ github.sha }} .

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/notes-app-fast:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/notes-app-fast:${{ github.sha }}


  image_scan:
    name: Image Scan (Trivy)
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Scan Docker Image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/notes-app-fast:latest
          severity: CRITICAL,HIGH
          exit-code: '1'
          ignore-unfixed: true
